@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
/* $enable-responsive-font-sizes: true;  */

* {
	font-family: "Montserrat", sans-serif;
}

.btn-success {
	background-color: #4eb883;
}

.btn-outline-success {
	border: 1px solid #4eb883;
	color: #4eb883;
}

.btn-outline-success:hover {
	background-color: #4eb883;
}

.imgs {
	object-fit: contain;
	width: 100%;
	height: 200px;
	background: black;
}

.food-card {
	transition: all 0.3s ease-in-out;
}

.food-card:hover {
	transform: translateY(-3px);
	box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px -7px;
}
